<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Cliente [[userid]] !</h2>
    <template is="dom-repeat" items="{{accounts}}"
       <span>Cuenta: [[item.iban]]</span>
       <span>Saldo en cuenta: [[item.balance]] &euro;</span>
    </template>
    <!--h2>Cuenta: {{iban}} </h2>
    <h2>Saldo: {{balance}} </h2-->

    <iron-ajax auto
        id="getAccounts"
        url="http://localhost:3000/apitechu/accounts/{{userid}}"
        handle-as="json"
        on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          //iban: {
            //type: String
          }, userid: {
            type: Number
          }//, balance: {
            //type: Number
          //}
        };
      }
      showData(data) {
        console.log("ShowData");
        //console.log("iban " + data.detail.response[0].iban);
        //console.log("userid " + data.detail.response[0].userid);
        //console.log("balance " + data.detail.response[0].balance);
        //this.iban=data.detail.response[0].iban;
        //this.userid=data.detail.response[0].userid;
        //this.balance=data.detail.response[0].balance;
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(CuentasUsuario.is, CuentasUsuario);
  </script>
</dom-module>
