<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      :p {
          font-size: 40px;
          font-family:courier, courier new, serif;
          font-weight: normal;
      }

    </style>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->

    <!--h2>LOGIN USUARIO Soy [[first_name]] [[last_name]]!</h2>
    <h3>y mi email es [[email]]</h3-->
    <!--p>Email</p-->
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <!--p>Password</p-->
    <input placeholder="password" type="password" value="{{password::input}}"></input>

    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!!!!</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados");
        console.log(data.detail.response.idUsuario);
        this.isLogged = true;
        window.location = "user/" + data.detail.response.id;
      }

      login() {
        console.log("El usuario ha pulsado el botón");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Error");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
