<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
        all: initial;
      }
    </style>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"-->

    <h2>Soy [[first_name]] [[last_name]]!</h2>
    <h3>y mi email es [[email]]</h3>

    <iron-ajax auto
        id="getUser"
        url="http://localhost:3000/apitechu/v2/users/{{id}}"
        handle-as="json"
        on-response="showData"
    >

    <!--input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" max="70" value="{{age::input}}" /-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }
      showData(data) {
        console.log("ShowData");
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);
        this.fist_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
